#title{
  position: relative;
  left: 41.5%;
  top: 0%;
}

#mypageBack{
    width: 90%;
    height: 830px;
    margin: auto;

    border-radius: 50px;
    background-repeat: no-repeat;
    background-image: url(../mypage/img/backGround.jpg);
    background-size: 110%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#userImage{
  border-radius: 109px;
  border: 3px solid #D7CBE3;
  width: 25%;
  height: 15%;

  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  left: 38%;
}

.userInfo{
  text-align: center;
}

.menu{
  position: relative;
  left: 25%;
  top: 5%;
}

.menuButton{
  width: 50%;
  height: 50px;

  border-radius: 15px;

  color: rgba(0, 0, 0, 0.70);
}

#edit{
  background: rgba(195, 220, 241, 0.6);
  backdrop-filter: blur(2px);

}

#button2{
  background: rgba(175, 150, 199, 0.6);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 140%;

}

#button3{
  background: rgba(241, 171, 204, 0.6);
  border-radius: 15px;
  position: absolute;
  top: 280%;
}

#button4{
  background: rgba(247, 233, 237, 0.6);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 420%;
}

.menuText1{
      position: relative;
      left: 19%;
      bottom: 10%;
}
#menuImg1{
  width: 14%;
  position: relative;
  top: 15%;
  left: 7%;
}
.menuText2{
      position: relative;
      left: 19%;
      bottom: 10%;
}
#menuImg2{
  width: 14%;
  position: relative;
  top: 15%;
  left: 7%;
}
.menuText3{
      position: relative;
      left: 19%;
      bottom: 10%;
}
#menuImg3{
  width: 14%;
  position: relative;
  top: 15%;
  left: 7%;
}
.menuText4{
      position: relative;
      left: 19%;
      bottom: 10%;
}
#menuImg4{
  width: 14%;
  position: relative;
  top: 15%;
  left: 7%;
}

#logOut{
  position: relative;
  left: 45%;
  top: 45%;
}
