<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/users/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body>
<div class="app-body">
    <div class = "content">
        <div id="pageBack">
    <img id="loginTitle" src="../css/users/img/Sugar-Road Logo.png">
            <div id="loginBox">
            <label id="loginImg" for="input-image">
                <img src="../css/users/img/login.png">
            </label>
    <form action="/users/login" method="post" target="iframe">
        <h4 id="please">Please Sign In</h4>
        <input id="loginText1" type="text" name="userId" placeholder="Id" required><br>
        <br>
        <input id="loginText2" type="password" name="userPassword" placeholder="Password" required><br>
        <br>
        <input type="submit" value="로그인" style="display:none" id="input-image">
    </form>
            <iframe id="iframe" name="iframe"></iframe>
            <br>
        <button id="signUp" onclick="location.href = '/users/signup'">Sign Up</button>
            </div>
        </div>
    </div>
    <div class = "nav">
        <footer th:insert="ui/footer :: footer"></footer>
    </div>
</div>
</body>
</html>