  /*detail.css*/
.store-like {
  text-align: right;
  margin: 1vh 2vh 1vh 0;
}
.edit-remove-btnBox {
  text-align: right;
    margin: 1vh 0;
}
.edit-remove-btnBox > a {
  margin-right: 2vh;
  text-decoration: none;
   color:  var(--lightgray);
}
.store-image {
  width: 100%;
height: 20vh;
  object-fit: cover;
}
.address-phone-box {
  padding: 2vh 0 2vh 2vh;
}
.addressBox,
.phoneBox,
.descBox {
  display: flex;
}
.addressBox,
.phoneBox {
  margin-bottom: 1.5vh;
}
.menu-container {
  border: 2px solid #cdcdcd;
  padding: 1vh;
  border-radius: 10px;
}
.menuBox {
  width: 15vh;
  display: inline-block;
   margin-right: 10px;
       border: 1px solid lightgrey;
       border-radius: 5px;
}
.menuBox > img{
width: 15vh;
    height: 15vh;
    object-fit: cover;
        border-radius: 5px;
}
.menuBox > div{
text-align: center;
}