<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${dto}">
    <h3 th:text="${dto.title}"></h3>
    <th:block th:each=" image :${dto.postImage}">
        <img th:src="${image}" width="100px" alt="img">
    </th:block>
    <th:block th:if="${session.nowLogin}==${dto.userId}">
        <a th:href=@{/post/delete(id=${dto.postId})}>삭제</a>
        <a th:href=@{/post/edit(id=${dto.postId})}>수정</a>
    </th:block>
    <a th:href=@{/post}>홈</a>
</th:block>
<footer th:insert="ui/nav :: nav"></footer>

</body>
</html>