<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/comment.css">
    <style>
#comment-area{
    border: 1px solid lightgray;
    border-radius: 5px;
}
#top-btn-box{
    display: flex;
    justify-content: space-between;
}
#recommendationBtn{
    background: none;
    border: none;
    cursor: pointer;
}
#recommendationBtn:hover{
    background: #ebebeb;
    border-radius: 10px;
}

    </style>
</head>
<body>
<div class="app-body">
    <div class="content">
        <div id="top-btn-box">
        <a href="/post">◀</a>
        <button is = "custom-recommendation" class = "no-border" data-referenceType="P" th:data-referenceId=${dto.postId} id="recommendationBtn"></button>
        </div>
        <div class="post-header">
            <br/>
            <h4>자유 게시판</h4>
        </div>
        <hr class="hr-blue">
        <th:block th:if="${dto}">
            <div class="post-detail" style="min-height: 400px">
            <h4 id ="post-title" th:text="${dto.title}"></h4>
                <p class="t6 right" th:text="${#temporals.format(dto.postedDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                <hr>
                <p th:text="${dto.content}"></p>
            <div class="post-image" th:each=" image :${dto.postImage}">
                <img th:src="${image}" alt="img">
            </div>
            </div>

        </th:block>
        <div class="post-button" th:if="${session.nowLogin}==${dto.userId}">
            <button th:onclick="|location.href='@{/post/delete(id=${dto.postId})}'|">삭제</button>
            <button th:onclick="|location.href='@{/post/edit(id=${dto.postId})}'|">수정</button>
        </div>
        <div is = "custom-comment" data-referenceType="post" th:data-referenceId="${dto.postId}" th:data-loginId="${session.nowLogin}" id = "comment-area"></div>

    </div>
    <input type="text" class = "v-item commentInput t5" id = "commentInput" th:disabled="${session.nowLogin == null}?'disabled'" maxlength="100" style="width:90%">
    <button class = "t6 pink2 no-border" id = "commentBtn" onclick = "writeComment()" th:disabled="${session.nowLogin == null}?'disabled'">send</button>
    <div th:insert="ui/loader :: loader"></div>
    <footer th:insert="ui/footer :: footer"></footer>
    <div th:insert="ui/loader :: pageLoader"></div>
</div>
</body>
<script src="/js/recommendation.js"></script>
<script src="/js/loader.js"></script>
<script src="/js/comment.js"></script>
</html>