<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="/css/ui.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="app-body">
    <div class="content">
        <a href="javascript:history.back();">◀</a><br>
    <div class="header" style="text-align: center">
        <h5 th:text="${path} == '/post/write' ? '글 작성' : '글 수정'"></h5>

    </div>
        <hr>
    <div class="post-content">
    <form th:action="${path}" enctype="multipart/form-data" method="POST" id="writeForm">
        <input type="hidden" name="postId" th:value="${dto}? ${dto.postId} : 0">
        <input type="text" name="title" style="width: 100%; border: none" placeholder="제목" th:value="${dto}? ${dto.title} : _"><br>
        <hr>
        <textarea name="content" rows="20" style="width: 100%; border: none" placeholder="내용" th:text="${dto}? ${dto.content} : _"></textarea><br>
        <hr>
        <input type="hidden" name="userId" th:value="${dto}? ${dto.userId} : ${session.nowLogin}"><br>

<!--        카테고리:<input type="text" name="postCategoryId" th:value="${dto}? ${dto.postCategoryId} : _"><br>-->

        <input type="file" class="form-control" name="uploadImages" multiple><br>

        <th:block th:if="${dto}">
            삭제할 이미지:
            <th:block th:each=" image :${dto.postImage}">
            <label>
                <input type="checkbox" name="postImage" th:value="${image}">
                <img th:src="${image}" alt="img" width="50px">
            </label>
            </th:block>
        </th:block>
    </form>
        <div class="post-button">
            <button onclick="history.back(-1)">취소</button>
            <button type="submit" form="writeForm">작성</button>
        </div>
    </div>
    </div>
<footer th:insert="ui/footer :: footer"></footer>
<div th:insert="ui/loader :: pageLoader"></div>
</div>
<script src="/js/loader.js"></script>

</body>
</html>