<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/mypage/edit.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body>
<th:block th:if="${userInfo}">
<div>
    <h1>회원탈퇴</h1>
    <form action="/users/delete" method="post" target="iframe1">
        <input type="hidden" name="userId" th:value="${userInfo.userId}">
        비밀번호를 입력하세요<br>
        <input type="password" name="userPassword" required>
        <input type="submit" value="탈퇴">
    </form>
</div>
</th:block>
<iframe id="iframe1" name="iframe1"></iframe>

<div class = "nav">
    <footer th:insert="ui/footer :: footer"></footer>
</div>
</body>
</html>