<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<th:block th:if="${userInfo}">
<div>
    <h1>[[${userInfo.userId}]] 프로필 변경</h1>
    <form action="/users/edit" method="post" enctype="multipart/form-data" target="iframe1">
        <input type="hidden" name="userId" th:value="${userInfo.userId}">
        PW : <input type="password" name="userPassword" required><br>
        이름 : <input type="text" name="userName" th:value="${userInfo.userName}"><br>
        별명 : <input type="text" name="nickname" th:value="${userInfo.nickname}"><br>
        email : <input type="text" name="userEmail" th:value="${userInfo.userEmail}"><br>
        프로필사진 : <input type="file" name="image"><br>
        <input type="submit" value="변경">
    </form>
</div>
</th:block>
    <h3 th:if="${msg}"  th:text="${msg}"></h3>
<iframe id="iframe1" name="iframe1"></iframe>
</body>
</html>