<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>
<div>
    <h1>마이페이지</h1>
        <table th:if="${userInfo}">
            <tr th:each="vo : ${userInfo}">
                <td>[[${vo.userId }]]</td>
                <td>[[${vo.userName }]]</td>
                <td>[[${vo.nickname }]]</td>
                <td>[[${vo.userEmail }]]</td>
            </tr>
        </table>

        <h3 th:if="${msg}"  th:text="${ msg }"></h3>
        <hr>
        <a href="/mypage/edit"><button>회원정보 수정</button></a>
        <a href="/logout"><button>로그아웃</button></a>
        <a href="/mypage/delete"><button>회원정보 탈퇴</button></a>
</div>

</body>
</html>