<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/mypage/index.css">
</head>
<body>
<div class="app-body">
    <div class = "content">
        <div id="mypageBack">
            <br>
            <br>
        <h4 id="title">MyPage</h4>
            <br>
            <br>
            <th:block th:if="${userInfo}">
                <img th:src="${userInfo.userImagePath}" id="userImage">
            <div class = "userInfo" th:each="vo : ${userInfo}">
                <h5>[[${vo.nickname }]]</h5>
                <h6>[[${vo.userEmail }]]</h6>
            </div>
        </th:block>
        <h3 th:if="${msg}"  th:text="${msg}"></h3>

            <div class="menu">
                <a href="/mypage/edit" style="text-decoration: none">
                    <div class="menuButton" id="edit">
                    <img src="../css/mypage/img/menuImg1.png" id="menuImg1">
                    <span class="menuText1">프로필 수정</span>
                    </div>
                </a>
                <a href="/mypage" style="text-decoration: none">
                    <div class="menuButton" id="button2">
                    <img src="../css/mypage/img/menuImg2.png" id="menuImg2">
                    <span class="menuText2">내가 작성한 글</span>
                    </div>
                </a>
                <a href="/mypage" style="text-decoration: none">
                    <div class="menuButton" id="button3">
                    <img src="../css/mypage/img/menuImg3.png" id="menuImg3">
                    <span class="menuText3">내가 작성한 댓글</span>
                    </div>
                </a>
                <a href="/mypage" style="text-decoration: none"><div class="menuButton" id="button4">
                    <img src="../css/mypage/img/menuImg4.png" id="menuImg4">
                    <span class="menuText4">좋아요 한 글</span></div></a>
            </div>

        <div id="logOut"><a href="/logout" style="text-decoration: none">로그아웃</a></div>
        </div>
    </div>
    <div class = "nav">
        <footer th:insert="ui/nav :: nav">

        </footer>
    </div>
</div>
</body>
</html>