<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Title</title>
  <link rel="stylesheet" href="/css/ui.css">
</head>
<body>
<div class = "app-body">
  <div class = "content">

    <h3>가게 정보 상세 페이지</h3>
    <!--작성자-->

    <div th:insert="review/fragment :: review (storeId = ${list.storeId})"></div>

  </div>
  <div class = "nav">
    <footer th:insert="ui/nav :: nav"></footer>
  </div>
</div>
</body>
</html>