<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <title>가게 상세</title>
    <link rel="stylesheet" href="/css/ui.css"/>
    <link rel="stylesheet" href="/css/storeDetail.css"/>
</head>
<body>
<div class="app-body">
    <div class="content">
        <script
                type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9f0b153df219037e9402a0154f2ca62&libraries=services"
        ></script>
        <div class="container">
            <div class="store-like-back">
                <a href="javascript:history.back();">◀</a>
                <span>💖</span>
            </div>
            <h3>
                <div th:text="${list.storeName}" class="store-detail-name">가게명</div>
            </h3>
            <div class="edit-remove-btnBox" th:if="${session.nowLogin}==${list.userId}"  >
                <a th:href="@{/store/editView(storeId=${list.storeId})}">수정</a>
                <a th:href="@{/store/delete(storeId=${list.storeId})}">삭제</a
                ><br/>
            </div>
            <div
                    th:if="${list.storeImagePath != '' || list.storeImagePath != null}"
            >
                <img
                        th:src="@{|${list.storeImagePath}|}"
                        class="store-image"
                        alt="가게 대표 이미지"
                />
            </div>
            <div class="address-phone-box">
                <div class="addressBox">
                    <i
                            class="fa-solid fa-map-location-dot"
                            style="color: #999999"
                    ></i>&nbsp
                    <div th:text="${list.address}">가게 주소</div>
                </div>
                <div class="phoneBox">
                    <i class="fa-solid fa-phone" style="color: #878787"></i> &nbsp
                    <div th:text="${list.phoneNumber}">가게번호</div>
                </div>
                <div class="descBox">
                    <i class="fa-solid fa-store" style="color: #878787"></i>&nbsp
                    <div th:text="${list.storeDesc}">가게 설명</div>
                </div>
            </div>
            <!--메뉴 이름/이미지 없을 경우에 뜨지 않도록-->
            <div class="swiper">
                <b>Menu</b>
                <hr/>
                <div class="swiper-wrapper">
                    <div th:each="mList : ${mlist}" class="swiper-slide">
                        <img
                                th:src="@{|${mList.menuImagePath}|}"
                                alt="메뉴 이미지"
                        />
                        <div th:text="${mList.menuName}">메뉴 이름</div>
                    </div>
                </div>
            </div>
            <div><b>가게 위치</b></div>
            <button
                    is="custom-recommendation"
                    data-userId="추천테스트용"
                    data-referenceType="S"
                    th:data-referenceId="${list.storeId}"
            ></button>

            <div id="map" style="width: 100%; height: 200px"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 3
                };
                var map = new kakao.maps.Map(container, options);
                var zoomControl = new kakao.maps.ZoomControl();
                map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                var geocoder = new kakao.maps.services.Geocoder();
                geocoder.addressSearch([[${list.address}]], function(result, status){
                    if(status === kakao.maps.services.Status.OK){
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });
                        map.setCenter(coords);
                    }
                });
                /*]]>*/
            </script>
            <button
                    is="custom-recommendation"
                    th:if="${session.nowLogin != null}"
                    th:data-userId="${session.nowLogin}"
                    data-referenceType="S"
                    th:data-referenceId="${list.storeId}"
            ></button>
            <a
                    th:if="${session.nowLogin != null}"
                    th:href="@{/review/write(storeId=${list.storeId})}"
            >리뷰 작성</a
            ><br/>
            <custom-review th:data-storeId="${list.storeId}"></custom-review>
        </div>
    </div>
    <footer th:insert="ui/footer :: footer"></footer>
</div>
<script>
    const swiper = new Swiper('.swiper', {
    spaceBetween: 20,    // 슬라이드 사이 여백
     slidesPerView :3, // 한 슬라이드에 보여줄 갯수
    centeredSlides: true,    //센터모드
    autoplay: false,
    loop: true,
    loopAdditionalSlides : 1
    });
</script>
</body>
<script src="/js/recommendation.js"></script>
<script src="/js/review.js"></script>
</html>
