<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Title</title>
    <!-- <link rel="stylesheet" href="/src/main/resources/static/css/ui.css" /> -->
    <link rel="stylesheet" href="/css/ui.css"/>
    <link rel="stylesheet" href="/css/store.css"/>
</head>
<body>
<div class="app-body">
    <div class="content">
        <div class="container">
            <h3>Store Board</h3>
            <div class="btnList">
                <span>👍Best</span>
                <span>😲Recent</span>
                <span>💖Like</span>
            </div>
            <div class="storeList">
                <div class="storeBox" th:if="${list}" th:each="dto:${list}">
                    <!--위치 확인!!!!--><a th:href="@{/store/detail(storeId=${dto.storeId})}" >
                    <div class="storeBoxTop">
                            <div th:text="${dto.storeName}" class="store-name"><b>가게명</b></div>
                            <div class="store-like">좋아요 수 : <span>5</span></div>
                    </div>
                    <img th:src="@{|${dto.storeImagePath}|}" class="storeImg" alt="가게 대표 이미지"></img>
                    <div th:text="${dto.storeDesc}" class="store-desc"></div>

                    </a>
                    <br/>
                </div>
            </div>
        </div>
        <a class="store-insertBtn bold h5" th:if="${session.nowLogin != null}" th:href="@{/store/write}">가게
            등록</a>
    </div>
    <footer th:insert="ui/footer :: footer"></footer>
</div>
</body>
</html>