<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Title</title>
    <link rel="stylesheet" href="css/ui.css" />
    <style>
 
    </style>
    <!-- <link rel="stylesheet" href="경로/파일이름"> -->
  </head>
  <body>
    <div class="app-body">
      <div class="content">
        <div id="container">
          <h3>가게정보등록</h3>
          <div class="HeadLine"></div>
          <div class="inputContainer">
  <img
          <button>확인</button>
          <button>취소</button>
          <div class="nav">
            <footer th:insert="ui/nav :: nav"></footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
