<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Review Detail</h1>
<hr/>
<ul>
  <li th:text="${reviewDTO.reviewId}"></li>
  <li th:text="${reviewDTO.userId}"></li>
  <li th:text="${reviewDTO.storeId}"></li>
  <li th:text="${reviewDTO.content}"></li>
  <li th:text="${reviewDTO.postedDate}"></li>
  <li th:text="${reviewDTO.star}"></li>
</ul>
<!-- <button is = "recommendation-btn" th:data-userId="${reviewDTO.userId}" data-referenceType="R" th:data-referenceId="${reviewDTO.reviewId}"></button> -->
<button is = "custom-recommendation"  th:if="${session.nowLogin != null}" th:data-userId="${session.nowLogin}" data-referenceType="R" th:data-referenceId="${reviewDTO.reviewId}"></button>
<button th:if="${session.nowLogin} != ${reviewDTO.userId}" th:onclick="|location.href = '@{/review/edit(id=${reviewDTO.reviewId})}'|">수정</button>
<button th:if="${session.nowLogin} != ${reviewDTO.userId}" th:onclick="|location.href = '@{/review/delete(id=${reviewDTO.reviewId})}'|">삭제</button>
<footer th:insert="ui/nav :: nav"></footer>

</body>
<script src="/js/recommendation.js"></script>
</html>