<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/review.css">
  <link rel="stylesheet" href="/css/ui.css">
</head>
<body>
<div class = "app-body">
  <div class = "content">
    <div class = "center t4 bold">리뷰 작성<span class = "t-lightgray t5">review</span></div>
    <form method = "post" action = "/review/write" enctype="multipart/form-data">
      <input type ="hidden" name ="userId" th:value="${session.nowLogin}" required>
      <input type ="hidden" name ="storeId" th:value="${storeId}" required>
      <input type ="hidden" name ="star" id = "starInput" required>
      <table class="v-table">
        <tr>
          <td class="v-table-half">
            <div class="rating-box t5 center">
              <h5 class="t-lightgray" id="is-rating">당신의 만족도는?</h5>
            </div>
          </td>
          <td>
            <div class="stars t4 center">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan = "2" class = "center">
            <textarea name ="content" class = "review-content-box t5" required></textarea>
          </td>
        </tr>
        <tr>
          <td colspan = "2">
            <input type="file" name="uploadImage">
          </td>
        </tr>
        <tr>
          <td colspan = "2" class = "center">
            <input type = "submit" value = "등록" class = "pink2 v-item t6 bold no-border">
          </td>
        </tr>
        <tr>
          <td colspan = "2" class = "center">
            <input type = "button" value = "취소" class = "v-item t6 bold no-border lightgray" onclick = "history.back();">
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class = "nav t4 center lightgray">
    NAV
  </div>
</div>
</body>
<script>
  const stars = document.querySelectorAll(".stars i");
stars.forEach((star, index1) => {
  star.addEventListener("click", () => {
    stars.forEach((star, index2) => {
      index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
    });
    document.querySelector("#starInput").value = index1 + 1;
    console.log(document.querySelector("#starInput").value);
    document.querySelector("#is-rating").classList.add("active")
  });
});
</script>
</html>